h2{
    text-align: center;
    color: orangered;
    font-size: 50px;
    text-align: center;
}

.heading{
    font-size: 40px;
    font-weight: bolder;
    line-height: 25px;
    color: black;
}
img{
    width: 100%;
    height: 460px;
}
.container{
    border: 2px solid black;
    background-color: black;
    width: 30%;
    float: right;
    height: 475px;
    margin-right: 60px;
    margin-top: -194px;
}
.container h4{ color: wheat;
    border: 2px solid black;
    text-align: center;
    font-size: medium;
}

.container li{
    color: white;
    cursor: pointer; 
}
.box{
    padding: 5px;
    margin: 3px;
}
li:hover{
    color:lightsalmon ;
}
select{
    color: blueviolet;
}
select option{
    color: brown;
}
.container2{
    
    display: flex;
    color: white;   
}
.box1, .box2 , .box3{
    height: 176px;
    width: 222px;
    border: 2px solid black;
    margin: 3px;
    padding: 4px;  
}
.box1{
    background-color: #1D1D20;
}
.box2{
    background-color: #5B87C6;
}
.box3{
    background-color: #BFC0C2;
}
.box1 , .box2 , .box3 h3{
    font-size: 20px;
}
#option-1{
    padding: 4px;
}
#option-2{
    padding: 4px;
}
#option-3{
    padding: 4px;
}
.container1{
    border: 2px solid black;
    width: 56%;
    background-color: rgb(135, 106, 168);
    margin-left: 3px;
    margin-top: 10px;
}
.container1 h4{
    margin: 9px auto;
    width: 36%;
    text-align: center;
    font-size: 20px;
}
.form-group input{
    text-align: center;
    display: block;
    width: 500px;
    border: 2px solid black;
    padding: 6px;
    margin: 6px auto;
}
.form-group select{
    text-align: center;
    width: 516px;
    margin: 6px auto;
    padding: 6px;
    display: block;
    border: 2px solid black;

}
.btn{
    width: 516px;
    margin: 10px auto ;
    padding: 6px;
    display: block;
}
.hi {
    text-align: center;
    margin: 10px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.main1 {
    margin-top: 15px;
    margin-top:10px;
    padding: 0;
    box-sizing: border-box;  
}
.container2{
    max-width: 1300px;
    margin:auto;
}
.row{
    display: flex;
    flex-wrap: nowrap;
}
.ul{
    list-style: none;

}
.footer{
    background-color: #24262b;
    padding: 50px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative; 
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;

}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease; 
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;   
}

